@import '../../index.scss';

.aboutUs {
  h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__img {
      display: flex;
      justify-content: center;
      margin: 1rem;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__text {
      margin: 1rem;
      text-align: justify;
      :nth-child(1) {
        margin-bottom: 1rem;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .aboutUs {
    h2 {
      font-size: 3rem;
    }
  }
}
@media screen and (min-width: 1150px) {
  .aboutUs {
    &__container {
      flex-direction: row;
    }
  }
}
