@import '../../index.scss';

.bookSection {
  display: flex;
  justify-content: center;
  gap: 2rem;
  // min-height: 40vh;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 8px;
    &__date {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }
  }
}
