@import '../../index.scss';

.slideOffert {
  margin-bottom: 4rem;
  width: 100%;
}
.errorText {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  color: red;
}
.arrow {
  position: absolute;
  display: none;
  top: 50%;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  &__right {
    right: 0px;
  }
  &__left {
    left: 0px;
  }
}
.arrow__right:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  color: var(--main-background-color);
  content: '→';
}
.arrow__left:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  color: var(--main-background-color);
  content: '←';
}

@media screen and (min-width: 414px) {
  .slideOffert {
    padding: 0 2rem;
  }
  .arrow {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .slideOffert {
    padding: 0 10rem;
  }
  .arrow {
    &__right {
      right: -25px;
    }
    &__left {
      left: -50px;
    }
  }
}
