@import '../../index.scss';

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 60vh;
  h1 {
    position: absolute;
    z-index: 10;
    width: 50%;
    top: 200px;
    padding-left: 3rem;
    font-weight: bold;
    font-size: 3.5rem;
  }
}

.car3d {
  right: 0;
}
.video {
  position: relative;
  top: -300px;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 1000px) {
}
