@import '../../index.scss';

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  h1 {
    position: absolute;
    z-index: 10;
    width: 50%;
    top: 200px;
    padding-left: 6rem;
    font-weight: bold;
    font-size: 3.5rem;
  }
}

.video {
  position: absolute;
  top: -200px;
  right: 0;
  width: 100%;
  z-index: 0;
}
