@import '../../index.scss';

.calendarSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    width: 100%;
    &__date {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      font-size: 0.8rem;
      color: var(--text-color3);
      border: 1px solid var(--main-background-color);
      border-radius: 5px;
      cursor: pointer;
      svg {
        color: var(--main-background-color);
      }
    }
    &__calendar {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .calendarSection {
    &__container {
      flex-direction: row;
      justify-content: center;
      &__date {
        font-size: 1rem;
      }
    }
  }
}
