@import '../../index.scss';

.filterSection {
  display: flex;
  justify-content: center;
  &__brands {
    margin: 0 1rem;
    text-transform: uppercase;
    text-align: center;
    :first-child {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    &__brand {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }
  &__modelsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
  }
}

.active {
  color: var(--main-background-color);
}
