.bookingForm {
  button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 150px;
    height: 60px;
    font-size: 1rem;
  }
  button:disabled {
    color: grey;
    background-color: azure;
    border-color: black;
  }
}
.userData {
  display: flex;
  flex-direction: column;
  input {
    padding: 0.3rem;
  }
}
.errorInput::placeholder {
  color: var(--error-text-color);
}
.successText {
  margin: 0.5rem 0;
  color: var(--success-text-color);
}
.errorText {
  margin: 0.5rem 0;
  color: var(--error-text-color);
}
