.technicalData {
  position: relative;
  margin-bottom: 2rem;
  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    padding-left: 0.5rem;
    cursor: pointer;
    svg {
      font-size: 1rem;
    }
  }
  &__parameters {
    display: grid;
    grid-template: repeat(4, auto) / repeat(1, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    &--item {
      display: flex;
      align-items: center;
      width: 300px;
      padding: 0.5rem;
      gap: 0.5rem;
      white-space: nowrap;
      border-bottom: 3px solid var(--main-background-color);
      svg {
        font-size: 2rem;
      }
      img {
        width: 50px;
        height: 40px;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .technicalData {
    &__parameters {
      grid-template: repeat(4, auto) / repeat(2, 1fr);
    }
  }
}
@media screen and (min-width: 1600px) {
  .technicalData {
    &__parameters {
      grid-template: repeat(4, auto) / repeat(3, 1fr);
    }
  }
}
