.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 22vh;
  background-image: url('/carbon.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color2);
  &__top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    &__logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 0 1rem;
      width: 100%;
      &__img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        img {
          width: 20%;
        }
      }
      p {
        font-size: 0.9rem;
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      text-align: center;
      a {
        color: var(--text-color2);
        text-decoration: none;
        margin: 0.3rem 0;
        transition: color 0.3s;
      }
      a:hover {
        color: var(--main-background-color);
      }
    }
    &__contact {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      svg {
        font-size: 1.4rem;
        color: var(--main-background-color);
      }
    }
  }
}
.title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--main-background-color);
}

@media screen and (min-width: 1200px) {
  .footer {
    &__top {
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
      padding: 2rem 6rem;
      &__logo {
        width: 20%;
        text-align: start;
        &__img {
          justify-content: start;
        }
      }
    }
  }
}
