@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --main-background-color: rgb(210, 152, 17);
  --text-color1: black;
  --text-color2: white;
  --text-color3: rgb(87, 87, 87);
  --bg-color: black;
}
body {
  background-image: url('/background.PNG');
  background-size: contain;
}
.wrapper {
  padding: 1rem;
}
.react-calendar {
  width: 100%;
}
.button {
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 8px;
  color: white;
  border: 2px solid var(--main-background-color);
  background-color: var(--main-background-color);
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s;
}
.button:hover {
  color: var(--main-background-color);
  background-color: white;
}

@media screen and (min-width: 414px) {
  .button {
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .react-calendar {
    width: 350px;
  }
}
@media screen and (min-width: 1000px) {
  .wrapper {
    padding: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 2rem 6rem;
  }
}
// position for home page slide
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}
